@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0E0B16;
	padding: 10px;
	background-image: linear-gradient(#0e0816, #4717f6, #0e0816);
}

#toHome {
	color: #e7dfdd;
	text-decoration: none;
}

#toHome:hover {
	color:#a239ca;
}

h1 {
	text-align: center;
	color: #e7dfdd;
}

#adminP {
	margin: 50px auto;
	text-align: center;
	color: #e7dfdd;
	padding: 5px;
	width: 40%;
}

#loginAndReg {
	width: 50%;
	padding: 50px 0px;
	margin: 50px auto;
	display: flex;
	gap: 450px;
	border-top: 2px solid #e7dfdd;
	border-bottom: 2px solid #e7dfdd;
}

#reg {
	width: 30%;
	background-color:#E7DFDD;
	color: black;
	padding:10px;
	box-shadow: 0px 0px 30px #a239ca;
	border-radius: 5px;
}

#reg input {
	display: block;
	outline: 2px solid black;
	margin-bottom: 10px;
}

#login {
	width: 30%;
	background-color: #E7DFDD;
	color: black;
	padding: 10px;
	box-shadow: 0px 0px 30px #a239ca;
	border-radius: 5px;
}

#login input {
	display: block;
	outline: 2px solid black;
	margin-bottom: 10px;
}