@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0E0B16;
}

#container {
	background-color: #E7DFDD;
	width: 40%;
	margin: 50px auto;
	padding: 10px;
	box-shadow: 0px 0px 30px #A239CA;
}

#container input {
	display: block;
	width: 100%;
	margin: 5px 0;
}

#container label {
	display: block;
}

#button {
	width: 20%;
	background-color: #A239CA;
	color: #E7DFDD;
	font-weight: bold;
}