@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0E0B16;
}

#header {
	border-bottom: 2px solid #E7DFDD;
	padding-top: 10px;

}

#header ul {
	display: flex;
	color: #E7DFDD;
	justify-content: space-around;
	align-items: center;
}

#header li {
	list-style-type: none;
	font-size: 1.2rem;
}

#header a {
	text-decoration: none;
	color: #E7DFDD;
}

#header a:hover {
	color: #A239CA;
}

#container {
	background-color: #4717f6;
	color: #E7DFDD;
	width: 50%;
	margin: 30px auto;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-size: 1.3rem;
}

#button {
	width: 150px;
	height: 75px;
	background-color: #A239CA;
	color: white;
	border-radius: 20px;
}